<html>

<body>

{% if user.is_authenticated %}
    <h3> You are logged in as : {{ user.username }} </h3>
    <br>
    {% if user.username in HadProfileUsers %}
        <h2><a href="{% url 'update_profile' user.id %}">Edit Your Profile</a></h2>
    {% else %}
        <h2><a href="{% url 'create_profile' %}">Create Your Profile</a></h2>
    {%  endif %}
{% else %}
    <h3> <a href="{% url 'signup' %}">Sign Up Now !</a> || <a href="{% url 'login' %}">Login here</a> </h3>
{% endif %}

<h1>Total Employee List</h1>
<p>{{ HadProfileUsers }}</p>
 <table>
  <tr>
    <th>EmployeeId</th>
    <th>Name</th>
    <th>Position</th>
    <th>Department</th>
  </tr>
 <tr>
{% for employee in employees %}
    <td>{{ employee.employeeId }}</td>
    <td>{{ employee.name }}</td>
     <td>{{ employee.position }}</td>
    <td>{{ employee.department }}</td>
  </tr>
{% endfor %}
</table>


{% if user.is_authenticated %}
<br>
<a href="{% url 'logout' %}">  Log out : {{ user.username }} </a>
{% endif %}

</body>
</html>